<div class="nav-side-menu">
    <div class="brand">HIMS</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li  data-toggle="collapse" data-target="#physicians" class="collapsed">
                  <a href="/Physician/"><i class="fa fa-user-md fa-lg"></i> Physicians <span class="arrow"></span></a>
                </li>
                    <ul class="sub-menu collapse" id="physicians">
                        <li class="active"><a href="/Physician/">All</a></li>
                        <li><a href="/Home/NotFoundPage">Cardiologist</a></li>
                        <li><a href="/Home/NotFoundPage">Dermatologist</a></li>
                        <li><a href="/Home/NotFoundPage">Gastroenterologist</a></li>
                        <li><a href="/Home/NotFoundPage">Hematologist/Oncologist</a></li>
                        <li><a href="/Home/NotFoundPage">Neurologist</a></li>
                    </ul>
                <li data-toggle="collapse" data-target="#appointments" class="collapsed">
                    <a href="#"><i class="fa fa-calendar fa-lg"></i> Appointments <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="appointments">
                    <li class="active"><a href="/Appointment/">Manage Request</a></li>
                    <li><a href="/Appointment/ViewAppointmentList">View all Request</a></li>
                </ul>
                @*<li>
                    <a href="/Appointment/"><i class="fa fa-calendar fa-lg"></i> Appointment Request</span></a>
                </li>*@
                <li>
                    <a href="/Home/NotFoundPage">
                        <i class="fa fa-line-chart fa-lg"></i> Pharmacy Inventory
                    </a>
                </li>
                <li>
                  <a href="/Home/NotFoundPage">
                    <i class="fa fa-book fa-lg"></i> In-patient Activity Monitoring
                  </a>
                </li>
                <li>
                  <a href="/Home/NotFoundPage">
                    <i class="fa fa-hospital-o fa-lg"></i> Room / Equipment Reservation
                  </a>
                </li>
                <li>
                    <a href="/Home/NotFoundPage">
                        <i class="fa fa-users fa-lg"></i> User Account Administration
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wheelchair fa-lg"></i> Patient Medical Records History
                    </a>
                </li>
            </ul>
     </div>
</div>