
@{
    ViewBag.Title = "NotFoundPage";
    Layout = "~/Views/Shared/Error404.cshtml";
}


<div class="container">
    <img src="~/Content/Images/notfound.jpg" id="not-found-image">
</div>

@Styles.Render("~/Content/hims_appointment_styles")